:root {
    --imagem-fundo: url('./img/futebol.webp'); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--imagem-fundo)no-repeat center center/cover;
    transition: 1s;
}


#esporte {
    padding: 8px 12px;
    font-size: 22px;
}

#trocar-imagem {
    padding: 8px 12px;
    font-size: 24px;
}